.referral {
  color: white;
  padding: 60px;

  .title {
    margin-bottom: 60px;

    .text {
      color: #FFF;
      font-family: "Jersey10";
      font-size: 120px;
      font-style: normal;
      font-weight: 400;
      line-height: 140px;
      text-align: center;
    }

    .description {
      color: #A7ADB9;
      text-align: center;
      font-family: "Google Sans Code";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      .button {
        text-decoration: none;
        width: 250px;
        margin-top: 20px;
        background: #E9FD66;
        color: black;
        display: flex;
        height: 48px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        font-family: "Google Sans Code";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .myReferral {
      width: 100%;
      background: #232326;
      padding: 40px;

      .contentTitle {
        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 18px;
        font-style: normal;
        line-height: 28px;
        margin-bottom: 20px;
      }

      .exchanges {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .exchange {
          cursor: pointer;
          flex: 1;
          height: 200px;
          min-width: 200px;
          background: black;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid transparent;
          flex-direction: column;
          gap: 20px;

          &.selected {
            border: 1px solid #E9FD66;
          }

          .exchangeLogo {
            img {
              height: 40px;
            }
          }

          .exchangeName {
            color: #FFF;
            font-family: "Google Sans Code";
            font-size: 20px;
            font-style: normal;
            line-height: 24px;
          }
        }
      }

      .code {
        width: 100%;
        padding: 40px;
        color: #E9FD66;
        font-family: "Jersey10";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        background: #141519;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .shareButton {
          display: flex;
          height: 40px;
          padding: 20px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border: 1px solid #E9FD66;
          white-space: pre;

          color: #E9FD66;
          font-family: "Google Sans Code";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
        }

        .copyButton {
          display: flex;
          height: 40px;
          padding: 20px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border: 1px solid #E9FD66;
          white-space: pre;

          background: #E9FD66;
          color: black;
          font-family: "Google Sans Code";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }

    .taskOne {
      width: 100%;
      background: #232326;
      padding: 40px;

      .contentTitle {
        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 18px;
        font-style: normal;
        line-height: 28px;
        margin-bottom: 20px;
      }

      .contentText {
        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 20px;
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .inviteButton {
          display: flex;
          height: 40px;
          padding: 20px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border: 1px solid #E9FD66;
          white-space: pre;

          background: #E9FD66;
          color: black;
          font-family: "Google Sans Code";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }

    .taskMore {
      width: 100%;
      background: #232326;
      padding: 40px;

      .contentTitle {
        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 18px;
        font-style: normal;
        line-height: 28px;
        margin-bottom: 20px;
      }

      .contentStats {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;

        .contentStatsItem {
          flex: 1;
          padding: 20px;
          background: #141519;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 10px;

          .contentStatsItemName {
            color: #E9FD66;
            font-family: "Jersey10";
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
          }

          .contentStatsItemNumber {
            color: #A7ADB9;
            text-align: center;
            font-family: "Google Sans Code";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .inviteButton {
          display: flex;
          height: 40px;
          padding: 20px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border: 1px solid #E9FD66;
          white-space: pre;

          background: #E9FD66;
          color: black;
          font-family: "Google Sans Code";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }

    .myToken {
      width: 100%;
      background: #232326;

      .exchange {
        background: #39393A;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
      }

      .bottom {
        padding: 40px;

        .name {
          color: #E9FD66;
          text-align: center;
          font-family: "Google Sans Code";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          text-transform: capitalize;
          padding: 20px;
        }

        .tokens {
          width: 100%;

          .token {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            .tokenLogo {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              background: #7E7E7E;
            }

            .tokenAmount {
              color: #E9FD66;
              font-family: "Jersey10";
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 48px;

              .status {
                font-size: 20px;
                margin-left: 10px;
                color: #7E7E7E;
              }
            }

            .tokenLockTime {
              display: flex;
              margin-left: auto;
              align-items: center;

              .tokenLockTimeName {
                color: #A7ADB9;
                text-align: center;
                font-family: "Google Sans Code";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-right: 10px;
              }

              .tokenLockTimeContent {
                display: flex;
                align-items: center;
                justify-content: center;

                .tokenLockTimeContentCellNumber, .tokenLockTimeContentCellText {
                  display: inline;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .tokenLockTimeContentCellNumber {
                  color: #E9FD66;
                  text-align: center;
                  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
                  font-family: "Google Sans Code";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                  text-transform: capitalize;
                  background: black;
                }

                .tokenLockTimeContentCellText {
                  color: #FFF;
                  text-align: center;
                  font-family: "Google Sans Code";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                  text-transform: capitalize;
                }
              }
            }
          }
        }

        .progress {
          margin-top: 20px;
          width: 100%;
          border: 1px solid #E9FD66;
          height: 16px;

          .percentage {
            height: 100%;
            width: 0%;
            background: #E9FD66;
          }
        }

        .nav {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .leftButton, .rightButton {
            width: 40px;
            height: 40px;
            background: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
