.header {
  width: 100%;
  background: #E9FD66;
  height: 60px;
  color: #151515;
  font-size: 32px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  z-index: 9999;
  position: fixed;

  .branding {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-family: Jersey10;
    cursor: pointer;

    .logo {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .text {
      white-space: pre;
    }
  }

  .buttons {
    margin-left: auto;

    .button {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      font-size: 16px;
      padding: 2px 16px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      cursor: pointer;
      font-family: "Google Sans Code";
      /* transition: all 0.2s ease; */

      .text {
        margin: 0 10px;
        white-space: pre;
      }

      .leftArrow {
        opacity: 0;
      }

      .rightArrow {
        opacity: 0;
      }

      &:hover {
        background: black;
        color: #E9FD66;

        .leftArrow {
          opacity: 1;
        }

        .rightArrow {
          opacity: 1;
        }
      }
    }
  }
}
