.spaceLoader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .loadingText {
      margin-left: 10px;
      font-size: 16px;
      color: var(--color11);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 0.875rem;
  height: 0.875rem;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid var(--color11);
  border-right-color: transparent;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
