.landing {
  color: white;

  .banner {
    height: 700px;
    background-image: url("resources/images/banner.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .title {
        color: white;
        font-family: "Jersey10";
        font-size: 88px;
        font-style: normal;
        font-weight: 400;
        line-height: 120px;
        text-align: center;
      }

      .text {
        color: #D1D4DB;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        font-family: "Google Sans Code";
      }

      .button {
        color: black;
        border: 1px solid black;
        font-size: 16px;
        padding: 2px 16px;
        height: 48px;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        cursor: pointer;
        margin-top: 32px;
        background: #E9FD66;
        border-color: #E9FD66;
        color: black;
        font-family: "Google Sans Code";
        /* transition: all 0.2s ease; */

        .text {
          margin: 0 10px;
          white-space: pre;
          color: black;
          font-size: 16px;
        }

        .leftArrow {
          opacity: 0;
        }

        .rightArrow {
          opacity: 0;
        }

        &:hover {
          .leftArrow {
            opacity: 1;
          }

          .rightArrow {
            opacity: 1;
          }
        }
      }
    }
  }

  .sections {
    width: 100%;
    background: #141519;
    padding: 30px 60px;

    .section {
      .sectionTitle {
        color: #FFF;
        font-family: "Jersey10";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 68px;
      }

      &.platform {
        margin-bottom: 60px;

        .sectionContent {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;

          .statistic {
            flex: 1;
            padding: 20px 24px;
            background: #232326;

            .statisticNumber {
              color: #E9FD66;
              font-family: "Jersey10";
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 48px;
            }

            .statisticName {
              color: #A7ADB9;
              font-family: "Google Sans Code";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    background: #E9FD66;
    padding: 30px 60px 0;

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 40px;

      .branding {
        display: flex;
        align-items: center;

        .logo {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }

        .text {
          color: black;
          font-family: "Jersey10";
          font-size: 32px;
        }
      }

      .social {
        width: 200px;

        .socialTitle {
          color: #000;
          font-family: "Google Sans Code";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 30px;
        }

        .socialLinks {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .socialLink {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            background: black;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      padding: 20px 0;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      font-family: "Google Sans Code";
      border-top: 1px solid rgba(0, 0, 0, 0.40);

      .privacyButton, .tosButton {
        cursor: pointer;
        display: inline;
      }
    }
  }
}
