@font-face {
    font-family: 'Jersey10';
    src: url('Jersey10-Regular.eot');
    src: local('Jersey10-Regular'),
        url('Jersey10-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jersey10-Regular.woff') format('woff'),
        url('Jersey10-Regular.ttf') format('truetype');
    font-style: normal;
}
