.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector {
  background: #232326;
  width: 400px;
  max-width: 90%;
  padding: 24px;
  border-radius: 8px;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: "Jersey10";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.walletList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.walletItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background: black;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Google Sans Code";
}

.walletItem:hover {
  border-color: #D90A20;
  background: rgba(233, 253, 102, 0.05);
}

.icon {
  font-size: 24px;
}

.name {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
