.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw);
  height: calc(100vh - 60px);

  .container {
    background: #232326;
    width: 460px;
    padding: 24px;

    .title {
      color: #FFF;
      text-align: center;
      font-family: "Jersey10";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }

    .subtitle {
      color: #A7ADB9;
      text-align: center;
      font-family: "Google Sans Code";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .form {
      .field {
        padding: 20px 0;

        .input {
          width: 100%;
          height: 48px;
          position: relative;

          input {
            background: transparent;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background: black;
            color: white;
            padding: 0 10px;
            font-family: "Google Sans Code";
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
          }

          .placeholder {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.60);
            font-family: "Google Sans Code";
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
          }
        }
      }
    }

    .checks {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;

      .inputIcon {
        margin-right: 10px;
      }

      .inputText {
        color: #828698;
        font-family: "Google Sans Code";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        a {
          color: white;
        }
      }
    }

    .separator {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 100%;
      position: relative;
      margin: 20px 0;

      .separatorLine {
        position: absolute;
        top: 50%;
        left: 0;;
        background: rgba(255, 255, 255, 0.45);
        height: 1px;
        width: 100%;
      }

      .separatorText {
        width: 40px;
        height: 100%;
        background: #232326;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        color: #828698;
        font-family: "Google Sans Code";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .providers {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .provider {
        width: 100%;
        height: 48px;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #FFF;
        font-family: "Google Sans Code";
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        text-transform: uppercase;

        cursor: pointer;
      }
    }
  }
}
