.cases {
  color: white;
  padding: 60px;

  .title {
    margin-bottom: 60px;

    .text {
      color: #FFF;
      font-family: "Jersey10";
      font-size: 120px;
      font-style: normal;
      font-weight: 400;
      line-height: 140px;
      text-align: center;
    }

    .description {
      color: #A7ADB9;
      text-align: center;
      font-family: "Google Sans Code";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      .button {
        text-decoration: none;
        width: 250px;
        margin-top: 20px;
        background: #E9FD66;
        color: black;
        display: flex;
        height: 48px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        font-family: "Google Sans Code";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }

  .content {
    .account {
      margin-bottom: 20px;
      display: flex;
      width: 100%;
      gap: 20px;
      flex-wrap: wrap;
      flex-direction: column;

      .user {
        flex: 1;
        background: #232326;
        padding: 30px;

        .top {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;

          .text {
            color: #FFF;
            text-align: center;
            font-family: "Google Sans Code";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }

          .logo {
            width: 80px;
            height: 80px;
            background: #D9D9D9;
            border-radius: 40px;
          }

          .name {
            color: #FFF;
            text-align: center;
            font-family: "Jersey10";
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
          }

          .description {
            color: #A7ADB9;
            text-align: center;
            font-family: "Google Sans Code";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }

        .bottom {
          background: #141519;
          padding: 20px;
          margin-top: 20px;

          .box {
            padding: 20px 30px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;

            .logo {
              width: 100px;
              height: 100px;
              background: #D9D9D9;
              border-radius: 50px;
            }

            .info {
              display: flex;
              flex-direction: column;
              gap: 20px;

              .name {
                color: #FFF;
                font-family: "Google Sans Code";
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
              }

              .code {
                display: flex;
                align-items: center;

                .label {
                  color: #A7ADB9;
                  text-align: center;
                  font-family: "Google Sans Code";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                }

                .value {
                  color: #E9FD66;
                  font-family: "Google Sans Code";
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 28px;
                }
              }
            }
          }

          .list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 20px;

            .listItem {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .listItemName {
                color: #A7ADB9;
                font-family: "Google Sans Code";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }

              .listItemContent {
                color: #FFF;
                font-family: "Google Sans Code";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
            }
          }

          .button {
            width: 100%;
            margin-top: 20px;
            background: #E9FD66;
            color: black;
            display: flex;
            height: 48px;
            padding: 20px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            font-family: "Google Sans Code";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;
          }
        }
      }

      .statistic {
        flex: 1;
        background: #232326;
        padding: 30px;

        .top {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 20px;
          margin-bottom: 20px;

          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .inviteButton {
              text-decoration: none;
              width: 200px;
              color: #E9FD66;
              border: 1px solid #E9FD66;
              background: black;
              display: flex;
              height: 40px;
              padding: 20px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              cursor: pointer;

              font-family: "Google Sans Code";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              text-transform: uppercase;
            }

            .submitButton {
              width: 200px;
              background: #E9FD66;
              border: 1px solid #E9FD66;
              color: black;
              display: flex;
              height: 40px;
              padding: 20px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              cursor: pointer;

              font-family: "Google Sans Code";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              text-transform: uppercase;
            }
          }

          .text {
            color: #FFF;
            text-align: center;
            font-family: "Google Sans Code";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }

          .subtext {
            color: #FFF;
            font-family: "Google Sans Code";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }

          .description {
            color: #A7ADB9;
            font-family: "Google Sans Code";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }

        .bottom {
          .list {
            display: flex;
            gap: 20px;

            .listItem {
              background: #141519;
              flex: 1;
              padding: 16px;
              display: flex;
              align-items: flex-start;
              flex-direction: column;

              .listItemNumber {
                color: #E9FD66;
                font-family: "Jersey10";
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
              }

              .listItemName {
                color: #A7ADB9;
                text-align: center;
                font-family: "Google Sans Code";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }

          .caseList {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .caseListItem {
               background: #141519;
               padding: 20px;

               .caseListItemTop {
                 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                 padding-bottom: 20px;
                 display: flex;
                 align-items: flex-start;
                 justify-content: space-between;

                 .text {
                   color: #FFF;
                   font-family: "Google Sans Code";
                   font-size: 16px;
                   font-style: normal;
                   font-weight: 500;
                   line-height: 24px;
                 }

                 .status {
                   background: rgba(55, 211, 117, 0.12);
                   color: #37D375;
                   text-align: center;
                   font-family: "Google Sans Code";
                   font-size: 14px;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 24px;
                   padding: 4px 10px;
                 }
               }

               .caseListItemBottom {
                 .statsList {
                   display: flex;
                   gap: 20px;

                   .statsListItem {
                     flex: 1;
                     padding: 16px;
                     display: flex;
                     align-items: flex-start;
                     flex-direction: column;
                     justify-content: flex-start;

                     .statsListItemNumber {
                       color: white;
                       font-family: "Jersey10";
                       font-size: 40px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 40px;
                     }

                     .statsListItemName {
                       color: #A7ADB9;
                       text-align: left;
                       font-family: "Google Sans Code";
                       font-size: 14px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 24px;
                     }
                   }
                 }
               }
            }
          }
        }
      }
    }
  }
}
